$color-white: #fbfbfb;
$color-blue-dark-100: #003366;

@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}
