@use "vars";
@use "reset";
@use "libs";
@use "global";

.header {
  padding: 11px 0;
  &__inner {
    display: flex;
    align-items: center;
  }
}

.menu {
  margin: 0 48px 0 auto;
  &__list {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
  &__item {
    padding: 12px 8px;
  }
  &__item--active {
    border-bottom: 1px solid vars.$color-blue-dark-100;
    color: vars.$color-blue-dark-100;
  }
  &__link {
    color: #343434;
    font-size: 16px;
    font-weight: 500;
  }
}

.menu-select {
  position: relative;
  padding-right: 32px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url("../images/arrow-down.svg");
    transform: translateY(calc(-50% + 1px));
    transition: all 0.3s ease;
  }
  &__list {
    position: absolute;
    top: 56px;
    left: -50px;
    width: 0;
    max-width: 0;
    height: 0;
    max-height: 0;
    border-radius: 4px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: width 0.3s ease, max-width 0.3s ease, height 0.4s ease-in,
      max-height 0.4s ease-in;
  }
  &__item {
    padding: 10px 20px;
    color: #595959;
    &:hover {
      background-color: vars.$color-blue-dark-100;
      color: vars.$color-white;
    }
  }
  &__link {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
  }
  &--active {
    .menu-select__list {
      width: 200px;
      max-width: 200px;
      height: auto;
      max-height: 117px;
    }
    &::after {
      transform: rotate(-180deg) translateY(9px);
    }
  }
}

.s-hero {
  padding: 50px 0;
  &__inner {
    display: flex;
    align-items: stretch;
    gap: 0 24px;
  }
  &__info {
    padding: 100px 80px;
    border-radius: 20px;
    background-color: vars.$color-blue-dark-100;
  }
  &__title {
    font-family: "Poppins", serif;
    color: vars.$color-white;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
  }
  &__title--main {
    margin: 4px 0 16px;
  }
  &__text {
    margin-bottom: 40px;
    color: vars.$color-white;
    line-height: 1.5;
  }
  &__btn {
    display: inline-block;
    padding: 14px 20px;
    background-color: vars.$color-white;
    color: vars.$color-blue-dark-100;
  }
  &__img {
    border-radius: 20px;
  }
}

.s-advantages {
  padding: 70px 0;
  background-color: vars.$color-blue-50;
  &__box-title {
    margin-bottom: 20px;
    padding: 30px 50px;
    border-radius: 14px;
    background-color: vars.$color-white;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }
  &__item {
    max-width: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0;
    padding: 30px 50px;
    border-radius: 14px;
    background-color: vars.$color-white;
    text-align: center;
  }
  &__item-title {
    font-family: "Poppins", serif;
    color: vars.$color-blue-dark-100;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__item-text {
    color: #343434;
    line-height: 1.5;
  }
}

.s-about {
  padding: 50px 0;
  &__box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: flex;
    align-items: stretch;
    gap: 0 27px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 31px 24px;
  }
  &__box {
    padding: 34px;
    border-radius: 14px;
    background-color: vars.$color-blue-dark-100;
  }
  &__box-title {
    margin-bottom: 21px;
    font-family: "Poppins", serif;
    color: vars.$color-white;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__box-text {
    color: vars.$color-white;
    line-height: 1.5;
  }
  &__box--stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 75px;
    text-align: center;
    .s-about__box-title {
      margin-bottom: 0;
      font-size: 42px;
    }
    .s-about__box-text {
      max-width: 166px;
    }
  }
}

.s-courses {
  padding: 50px 0 120px;
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
}

.course {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid vars.$color-blue-dark-100;
  &__title-box {
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0 auto 0 14px;
    font-family: "Poppins", serif;
    color: vars.$color-blue-dark-100;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__short-info {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }
  &__short-info-item {
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 10px 16px;
    border-radius: 45px;
    background-color: #eff3f7;
  }
  &__short-info-text {
    color: #343434;
    font-weight: 500;
    line-height: 1.5;
  }
  &__main-info-title {
    margin-bottom: 16px;
    color: #003366;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__main-info-list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    margin-bottom: 24px;
  }
  &__main-info-item-title {
    margin-bottom: 8px;
    color: #343434;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }
  &__main-info-sublist {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
  }
  &__main-info-subitem {
    position: relative;
    padding-left: 40px;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../images/courses/ckeck.svg");
    }
  }
  &__main-info-subitem-text {
    color: #343434;
    line-height: 1.5;
  }
  &__main-info-price {
    display: flex;
    align-items: center;
    gap: 0 16px;
    color: vars.$color-blue-dark-100;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__main-info-price-devider {
    width: 2px;
    height: 45px;
    background-color: vars.$color-blue-dark-100;
  }
  &__btn {
    display: block;
    max-width: 216px;
    text-transform: uppercase;
    text-align: center;
  }
}

.s-promo {
  padding: 50px 0;
  background-color: vars.$color-blue-dark-100;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 658px;
  }
  &__title {
    margin-bottom: 4px;
    color: vars.$color-white;
  }
  &__text {
    max-width: 520px;
    color: vars.$color-white;
    line-height: 1.5;
  }
  &__form {
    max-width: 658px;
  }
}

.s-testimonials {
  padding: 50px 0;
  &__title {
    margin-bottom: 20px;
  }
  &__slide {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 0 20px;
    padding: 20px;
    border: 1px solid vars.$color-blue-dark-100;
    border-radius: 12px;
  }
  &__slide-info {
    flex-basis: 340px;
    display: flex;
    flex-direction: column;
    gap: 4px 0;
  }
  &__slide-name {
    font-family: "Poppins", serif;
    color: #343434;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }
  &__slide-role {
    color: #6b6b6b;
    font-size: 16px;
    line-height: 1.5;
  }
  &__slide-stars {
    display: flex;
  }
  &__slide-text {
    margin-top: 14px;
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
  }
  &__controls {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0 30px;
    margin: 50px auto 0;
    padding: 12px 14px;
    border-radius: 100px;
    border: 1px solid #bfccd8;
    .swiper-pagination {
      position: relative;
      top: 0;
      bottom: 0;
      height: 4px !important;
      display: flex;
      gap: 0 2px;
    }
    .swiper-pagination-bullet {
      width: 13px;
      height: 100%;
      margin: 0 !important;
      border-radius: 20px;
      background-color: rgba(vars.$color-blue-dark-100, 0.8);
      transition: all 0.3s ease;
    }
    .swiper-pagination-bullet-active {
      width: 24px;
      background-color: vars.$color-blue-dark-100;
    }
  }
  &__btn-prev,
  &__btn-next {
    position: relative;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: vars.$color-blue-dark-100;
    cursor: pointer;
    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(1.2);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      background-image: url("../images/arrow-left.svg");
      transform: translate(-50%, -50%);
    }
  }
  &__btn-prev::after {
    left: 45%;
    background-image: url("../images/arrow-left.svg");
  }
  &__btn-next::after {
    background-image: url("../images/arrow-right.svg");
  }
}

.s-faq {
  padding: 50px 0 40px;
  &__title {
    margin-bottom: 20px;
  }
  &__inner {
    display: flex;
    gap: 0 24px;
  }
  &__accordion {
    width: 772px;
  }
  &__ask-question-box {
    width: 544px;
    height: max-content;
    padding: 57px 60px;
    border-radius: 14px;
    background-color: vars.$color-blue-dark-100;
  }
  &__ask-question-title {
    position: relative;
    padding-bottom: 80px;
    font-family: "Poppins", serif;
    color: vars.$color-white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: vars.$color-white;
    }
  }
  &__form {
    gap: 20px 0;
  }
  &__form-btn {
    margin: 9px auto 0;
  }
}

.footer {
  padding: 32px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-wrapper {
    flex-grow: 1;
    flex-basis: 0;
  }
  &__copyright {
    color: vars.$color-blue-dark-100;
    font-size: 16px;
    line-height: 1.5;
  }
  &__menu {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
  }
  &__menu-list {
    display: flex;
    justify-content: flex-end;
    gap: 0 16px;
  }
  &__menu-item {
    padding: 12px 8px;
  }
  &__menu-link {
    color: #343434;
    font-size: 16px;
    font-weight: 500;
  }
}
